@inherits LayoutComponentBase

<div id="wrapper">
    <div id="sidebar-wrapper" data-simplebar="init" data-simplebar-auto-hide="true" class="active">
        <Sidebar />
    </div>
    <header class="topbar-nav">
        <NavLink />
    </header>
</div>
