@inherits LayoutComponentBase

<div id="wrapper">
    <div id="sidebar-wrapper">
        <Sidebar />
    </div>
    <header class="topbar-nav">
        <NavLink />
    </header>
    <div class="clearfix"></div>
    <div class="content-wrapper">
        @Body
    </div>
    <a href="javaScript:void();" class="back-to-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <footer class="footer">
        <Footer />
    </footer>
    <div class="right-sidebar">
        <RightSidebar />
    </div>
</div>
