@page "/"
@namespace RockyPanel.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

@using RockyPanelBackend;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Constants.PanelName (@Constants.Version)</title>
    <title>RockyPanel</title>
    <base href="~/" />
    <link rel="stylesheet" href="/assets/theme/@(Constants.Theme)/bootstrap.css" />
    <link rel="stylesheet" href="/assets/theme/@(Constants.Theme)/animate.css" />
    <link rel="stylesheet" href="/assets/theme/@(Constants.Theme)/icons.css" />
    <link rel="stylesheet" href="/assets/theme/@(Constants.Theme)/pace.min.css" />
    <link rel="stylesheet" href="/assets/theme/@(Constants.Theme)/sidebar-menu.css" />
    <link rel="stylesheet" href="/assets/theme/@(Constants.Theme)/app-style.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="RockyPanel.styles.css" rel="stylesheet" />
</head>
<body class="bg-theme bg-theme1">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>

    <script src="/assets/theme/@(Constants.Theme)/js/jquery.min.js"></script>
    <script src="/assets/theme/@(Constants.Theme)/js/propper.min.js"></script>
    <script src="/assets/theme/@(Constants.Theme)/js/bootstrap.min.js"></script>
    <script src="/assets/theme/@(Constants.Theme)/plugins/simplebar/js/simplebar.js"></script>
    <script src="/assets/theme/@(Constants.Theme)/js/sidebar-menu.js"></script>
    <script src="/assets/theme/@(Constants.Theme)/js/jquery.loading-indecator.js"></script>
    <script src="/assets/theme/@(Constants.Theme)/js/app-script.js"></script>
    <script src="/assets/theme/@(Constants.Theme)/js/index.js"></script>
</body>
</html>
